body {
  background-color: #cccc99 !important;
}

#root {
  padding: 15px 30px;
  h1 {
    text-align: center;
    margin-bottom: 15px;
  }
  .metering-list {
    ol {
      list-style-type: decimal;
      margin-left: 15px;
      margin-bottom: 15px;
      li {
        a {
          color: #2d2d2d;
          &:hover {
            color: #57c5f7;
          }
        }
        a.active {
          color: #57c5f7;
        }
      }
    }
  }
  .metering-datamanage {
    h2 {
      margin-bottom: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    .btn-wrapper {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: right;
    }
    .ant-table-body {
      .btn-wrapper {
        margin: 0;
        display: inline-block;
        button.ant-btn-primary {
          padding: 0;
          background-color: #fff;
          background: transparent;
          border: none;
          color: #2db7f5;
          word-spacing: -3px;
          margin-top: -2px;
        }
      }
    }

  }
}

.innerHTML {
  word-break: break-all;
}

.modal-edit-wrapper {
  margin: 0;
  display: inline-block;
}

.row-flex > div {
  background-color: #fff;
  padding: 15px;
}
